<%= render "shared/second-header" %>

<div class="my-items-search">
  <div class="item-user">
    <%= @store %>さんの商品一覧
  </div>
  <div class="items-sell-main">
    <% @items.each do |item| %>
      <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "#{item.product}" %>
          </h3>
          <div class='item-price'>
            <span><%= "#{item.price}" %>円<br><%= "#{item.shipping_fee.name}" %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
