<%= render "shared/third-header" %>
<div class="items-search"> 
 <div class="items-search-main">
   <% @items.each do |item| %>
      <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
        </div>
        <div class='search-info'>
          <h3 class='item-name'>
            <%= "#{item.product}" %>
          </h3>
          <div class='item-price'>
            <span><%= "#{item.price}" %>円<br><%= "#{item.shipping_fee.name}" %></span>
          </div>
        </div>
      <% end %>
   <% end %>
  </div>
</div>
<footer>
</footer>