<div class="items-search">
   <%= render "shared/second-header" %>
   <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードから探す", classs: "input-box" %>
      <%= form.submit "検索", class: "search-icon" %>
   <% end %>
 <div class="items-sell-main">
   <% @items.each do |item| %>
      <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "#{item.product}" %>
          </h3>
          <div class='item-price'>
            <span><%= "#{item.price}" %>円<br><%= "#{item.shipping_fee.name}" %></span>
          </div>
        </div>
      <% end %>
   <% end %>
<footer>
</footer>