<%= render "shared/second-header" %>

<div class="item-show">
  <%= form_with(url: search_items_path, local: true, method: :get, class: "second-search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "キーワードから探す", class: "second-input-box" %>
    <%= form.submit "検索", class: "second-search-icon" %>
  <% end %>
  <div class="item-box">
    <div class="item-image">
      <h2 class="name">
        <%= "#{@item.product}" %>
      </h2>
      <div class="item-img-content">
        <%= image_tag @item.image ,class:"item-box-img" %>
        <% if @item.order.present? %>
        <div class="sold-out">
          <span>売り切れ!!</span>
        </div>
        <% end %>
      </div>
    </div>
    <div class="item-info">
      <div class="item-price-box">
        <span class="item-price">
          <%= "¥#{@item.price}" %>
        </span>
        <span class="item-postage">
          <%= "#{@item.shipping_fee.name}" %>
        </span>
      </div>
      <div class="item-btn">
        <% if user_signed_in? && @item.order == nil %>
          <% if current_user.id == @item.user_id %>
            <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-edit-btn" %>
            <p class="or-text">or</p>
            <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy-btn" %>
          <% else %>
            <%= link_to "購入画面に進む", item_orders_path(@item.id) ,class:"item-buy-btn"%>
          <% end %> 
        <% end %>
      </div>
      <div class="item-explain-box">
        <span><%= "#{@item.description}" %></span>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">出品者</th>
            <td class="detail-value"><%= link_to "#{@item.user.store}","/users/#{@item.user.id}" %></td>
          </tr>
          <tr>
            <th class="detail-item">商品の状態</th>
            <td class="detail-value"><%= "#{@item.states}" %></td>
          </tr>
          <tr>
            <th class="detail-item">配送料の負担</th>
            <td class="detail-value"><%= "#{@item.shipping_fee.name}" %></td>
          </tr>
          <tr>
            <th class="detail-item">発送元の地域</th>
            <td class="detail-value"><%= "#{@item.region.name}" %></td>
          </tr>
          <tr>
            <th class="detail-item">発送日の目安</th>
            <td class="detail-value"><%= "#{@item.eta.name}" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="comment-box">
   <% if user_signed_in? %>
    <%= form_with(model: [@item, @comment], local: true, id:"new-comment") do |form| %>
        <%= form.text_area :text, class: 'comment-text', rows: "2" %>
        <%= form.submit "コメント送信", class: 'comment-btn', value: "コメントする" %>
    <% end %>
   <% else %>
    <strong><p>※※ コメントの投稿には新規登録/ログインが必要です ※※</p>
      </strong>
   <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= "#{comment.user.store}" %>:</strong>
          <%= "#{comment.text}" %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

