<div class="item-show">
 <%= render "shared/second-header" %>
  <div class="item-box">
    <h2 class="name">
      <%= "#{@item.product}" %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
      <% if @item.order.present? %>
       <div class="sold-out">
        <span>Sold Out!!</span>
       </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= "¥#{@item.price}" %>
      </span>
      <span class="item-postage">
        <%= "#{@item.shipping_fee.name}" %>
      </span>
    </div>

    <% if user_signed_in? && @item.order == nil %>
      <% if current_user.id == @item.user_id %>
        <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入画面に進む", item_orders_path(@item.id) ,class:"item-red-btn"%>
      <% end %> 
    <% end %>
    <div class="item-explain-box">
      <span><%= "#{@item.description}" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= "#{@item.user.store}" %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= "#{@item.states}" %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= "#{@item.shipping_fee.name}" %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= "#{@item.region.name}" %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= "#{@item.eta.name}" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <%#<a href="#" class="another-item"><%= "商品のカテゴリー名" %>
  <%#をもっと見る</a>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <%= render "shared/second-footer" %>
</div>

